main {
    margin: auto;
    width: 80%;
}

.title>a>img {
    border-radius: 50%;
}

@media only screen and (max-width: 600px) {
    #title_bar {
        text-align: center;
    }

}

.row {
    display: flex;
}

/* change from columns to look clearer for screen size */
@media only screen and (max-width: 600px) {
    .row {
        flex-direction: column;
        width: 100%;
    }
}

h2 {
    padding-bottom: 2em;
}

.column {
    width: 50%;
}

@media only screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

/* ingredients and directions titles*/
.column>p {
    font-size: 18pt;
}

/* back to top link */
.recipe {
    text-align: center;
}

ul {
    padding-left: 2em;
    padding-top: 2em;
}

/* cute dots on list */
ul.taco_dot {
	list-style-image: url(../images/taco_dot.png);
}

