*{
    color: #582e82;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #f7b059, #cfadf1);
}

h1 {
    font-family: 'Sofia';
}

h2 {
    padding: 1em;
    margin-left: 2em;
}

header {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header>img{
    border-radius: 50%;
}



section>ul {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5em;
    
}

#scones {
    text-align: center;
    
}

#recipes {
    display: flex;
    justify-content: space-around;
    margin-top: 4em;
}

.recipe_box {
    border: #582e82 solid 1em;
    text-align: center;
}

h2 {
    margin-right: 2em;
}

a:hover {
    color:#7b2a7b;
}


footer{
    text-align: center;
    border-top: solid #582e82 2px;
    margin-top: 3em;
}